body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 10px;
}

div {
  text-align: center;
  margin-top: 20px;
}

input[type="text"] {
  width: 300px; /* 增大输入框的宽度 */
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0074D9;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
